h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 50px;
  font-family: 'Segoe UI', calibri, 'Helvetica Neue', sans-serif;
}

.guess-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.guess-boxes {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  inset: 0;
  align-items: center;
  height: 40px;
  width: 40px;
  top: 80px;
  background-color: rgba(111, 111, 112, 0.151);
}

.album-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-cover {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.screen-overlay {
  position: fixed;
  inset: 0;
  margin-top: 20px;
  pointer-events: none;
  z-index: 9999;
}