h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: .5em;
  font-family: 'Segoe UI', calibri, 'Helvetica Neue', sans-serif;
}

.guess-container {
  display: relative;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.guess-boxes {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  align-items: center;
  height: 2em;
  width: 2em;
  top: 3.5em;
  background-color: rgba(111, 111, 112, 0.151);
}

.album-container {
  display: relative;
  justify-content: center;
  align-items: center;
}

.album-cover {
  width: 18.75em;
  height: 18.75em;
  object-fit: cover;
}

.screen-overlay {
  position: fixed; 
  inset: 0;
  pointer-events: none;
  z-index: 9999;
}